Remainder mail.json
{
  "name": "Remainder mail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -96
      ],
      "id": "3cf94fa2-8b81-42c3-8700-760d2c38e149",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tYLT-Bf4tDqV09Lv9riCzyqhefbdOpcBaPnB7nB9mOw",
          "mode": "list",
          "cachedResultName": "Remainder data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tYLT-Bf4tDqV09Lv9riCzyqhefbdOpcBaPnB7nB9mOw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tYLT-Bf4tDqV09Lv9riCzyqhefbdOpcBaPnB7nB9mOw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -96
      ],
      "id": "5148b004-77a0-4458-8d27-5b0ebab279b6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jgNrkUgde8Xh1lRo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a330187-166b-4d58-8720-3b36e091b851",
              "name": "today",
              "value": "={{$now.toFormat(\"dd-MM-yyyy\")}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -96
      ],
      "id": "77897d93-5f0d-4cb4-8968-4d23c4774c69",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfiltered = []\n\nfor item in _items:\n    if item[\"json\"][\"due\"] == item[\"json\"][\"today\"]:\n        filtered.append(item)\n\nreturn filtered"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -96
      ],
      "id": "e023285a-60bd-4c1b-bc76-4efcf02a3e04",
      "name": "Code in Python",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Message from V !!",
        "emailType": "text",
        "message": "=Hi {{$json.name}} 🌼,  \nJust a small lovely note to brighten yourday💖 \nWishing you happiness, peace, and lots of success in everything you do today ✨   \nTake care of yourself, smile often, and don’t forget how amazing you are 🌷  \nHave a beautiful day ahead 💫 \nWith warm wishes from V 💌",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        -96
      ],
      "id": "9b99c35b-380d-407c-8a87-34468de3fde2",
      "name": "Send a message",
      "webhookId": "eef1ec25-0ceb-4eb3-a3bb-8e00b7c43b8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "liVB8cpiCFzal4TP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b20b4e15-7ce8-4331-bc7a-3ddf78a766a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "808cdce093a0415f3f441ff36a36a6d577271ad8d6a13e093dc18d32077e3ea9"
  },
  "id": "9TboCMGSNSSAuHHh",
  "tags": []
}